<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Merchants</title>
</head>
<body>
    <div class="merchant_header">
        <h1> Merchants </h1>
    </div>

    <div class="merchant_table">
        <form action="/merchants/new" method="POST">
            <label for="Merchant">New Merchant</label><input type="Merchant" name="merchant">
            <button>Submit</button>
        </form>
    </div>
    <div class="merchant_list">
        <ol>
            {% for merchant in all_merchants %}
            <li>{{ merchant.merchant_name}}</li>
            {% endfor %}
        </ol>
    </div>
</body>
</html>