<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Transactions Page</title>
        <div class="transactions_header">
            <h1>
                Transactions
            </h1>
        </div>
</head>
<body>
    <div class="transaction_manager">
    <form action="/transactions/new" method="POST"> 
        <label for="Type"> Spending Type</label><input type="Type"> 
        <label for="Merchant">Merchant</label><input type="Merchant">
        <label for="Description">Description</label><input type="Description">
        <label for="Amount">Amount</label><input type="Amount">
            <button>Submit</button>
    </form>
    </div>
    <div class="transaction_list">
        <ol>
            {% for transaction in all_transactions %}
            <li>{{ transaction.description}}</li>
            {% endfor %}
        </ol>
    </div>
</body>
</html>