<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Transactions Page</title>
        <div class="transactions_header">
            <h1>
                Transactions
            </h1>
        </div>
</head>
<body>
    <div class="transaction_manager">
    <form action="/transactions/new" method="POST"> 
        <label for="Type"> Spending Type</label>
        <select id="Type" name="Type">
            {% for spend_type in types %}
                <option value="{{ spend_type.id }}"> {{spend_type.name}} </option>
            {% endfor %}
        </select>
        <label for="Merchant">Merchant</label>
        <select id="Merchant" name="Merchant">
            {% for merchant in merchants %}
                <option value="{{ merchant.id }}"> {{merchant.merchant_name}} </option>
            {% endfor %}
        </select>

        <label for="Description">Description</label><input type="text" name="Description">
        <label for="Amount">Amount</label><input type="text" name="Amount">
        <button>Submit</button>
    </form>
    </div>
    <div class="transaction_list">
        <ol>
            {% for transaction in all_transactions %}
            <li>{{ transaction.description}} {{ transaction.amount }}</li> 
            {% endfor %}
        </ol>
    </div>
</body>
</html>