<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Spending Tags</title>
</head>
<body>
    <div class="spend">
    <h1> Spending Tags </h1>

    <div class="tags_manager">
    <form action="/types" method="POST">
        <label for="New Tag">New Tag</label>
        <input type="New tag" name="type">
        <button>Submit</button>
    </div>
    <div class="transaction_list">
        <ol>
        {% for type in all_types %}
         <li>{{ type.name }} </li> 
        {% endfor %}
        </ol>
        </div>

</body>
</html>