html {
    background-image: url(background_pig.jpg);
}

.logo_header{
    font-family: 'Pacifico', sans-serif;
    font-size: xx-large;
    text-align: center;
}

.menu{
    font-family: 'Pacifico', sans-serif;
    font-size: x-large;
    text-align: center;
    padding-top: 10cm;
    list-style: none;
}

.transactions_header{
    font-family: 'Pacifico', sans-serif;
    text-align: center;
}

.transaction_manager{
    text-align: center;
    padding-top: 2cm;
}

.transaction_list{
    font-family: 'Pacifico', sans-serif;
    padding-top: 4cm;
    text-align: left;
}

.spend{
    font-family: 'Pacifico', sans-serif;
    text-align: center;
}