html {
    background-image: url(background_pig.jpg);
}

.logo_header{
    font-family: 'Pacifico', sans-serif;
    font-size: xx-large;
    text-align: center;
}

.menu{
    font-family: 'Pacifico', sans-serif;
    font-size: x-large;
    text-align: center;
    padding-top: 10cm;
    list-style: none;
}

